# Ignore node_modules directory
node_modules/

# Ignore build output
/build
/dist

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE/editor specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db
